@model NotiIpt.Models.Noticias

@{
    ViewData["Title"] = "Adicionar Notícia";
}

<h1 class="text-center">Adicionar Noticia</h1>

<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">

            @* este objeto irá levar os conteúdos do formulário
            para o SERVIDOR
            - o atributo 'method' define como os dados são enviados
            - o atributo 'enctype' define que vamos enviar, também, ficheiros
            *@
            <form asp-action="Create"
                  method="post"
                  enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
                    <!---aqui novo--->
                    @* File Upload
                    - não esquecer definir:
                    - 'accept'' para ajudar os utilizadores a escolher o tipo certo de ficheiro
                    - 'name' para acederem ao ficheiro no Servidor
                    *@
                    <!---input type="file" name="ListaFotos" accept=".png,.jpg,.jpeg" class="form-control" />--->
            </div>

                <br />

            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <br />
            @Html.LabelFor(m => m.CategoriaFK)
            <select class="form-select" asp-for="CategoriaFK" aria-label="Escolher Categoria">
                <option value="@null">Selecione uma Categoria</option>
                @foreach (var cat in ViewData["CategoriaFK"] as List<Categorias>)
                {
                    <option value="@cat.Id">@cat.Categoria</option>
                }
            </select>
            <br />
            <div class="form-group">
                <label asp-for="DataEscrita" class="control-label"></label>
                <input asp-for="DataEscrita" class="form-control" />
                <span asp-validation-for="DataEscrita" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                    <!---aqui novo--->
                    <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <!---aqui novo--->
    <br />
    <a asp-action="Index">Regressar à listagem das Noticias</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
