@model NotiIpt.Models.Dados

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Humidade" class="control-label"></label>
                <input asp-for="Humidade" class="form-control" />
                <span asp-validation-for="Humidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lumino" class="control-label"></label>
                <input asp-for="lumino" class="form-control" />
                <span asp-validation-for="lumino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luz" class="control-label"></label>
                <input asp-for="Luz" class="form-control" />
                <span asp-validation-for="Luz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
